<h1>Editing my thread</h1>

<%= render "form", my_thread: @my_thread, comment: @comment %>

<br>

<div>
  <%= link_to "スレッド詳細に戻る", @my_thread %> |
  <%= link_to "スレッド一覧に戻る", my_threads_path %>
</div>
