<p style="color: green"><%= notice %></p>

<h1>My threads</h1>

<div id="my_threads">
  <% @my_threads.each do |my_thread| %>
    <%= render my_thread %>
    <p>
      <%= link_to "スレッドの詳細をみる", my_thread %>
    </p>
  <% end %>
</div>

<%= link_to "新規スレッドを立てる", new_my_thread_path %>
