<h1>新規スレッド</h1>
<!-- _form.html.elbの読み込み my_threadという変数で@my_threadを渡す-->
<%= render "form", my_thread: @my_thread, test:"出力テスト"%>

<br>

<div>
  <%= link_to "Back to my threads", my_threads_path %>
</div>
